@import "base/mixins";

.app.darksky {
  overflow:hidden;

  .forecast.next_hour {
    @include block_rel;
    height:80px;
    margin-top:15px;
    width:100%;
  }

  .current_action {
    @include block_abs;
    color:#666;
    font-style:italic;
    left:10px;
    top:10px;
  }

  .current_temp {
    @include block_abs;
    color:#666;
    cursor:default;
    font-size:144px;
    right:-20px;
    top:-42px;
  }
}