@import "base/mixins";

.app.instagram {
  .photo_stream {
    @include block_rel;
    margin:5px 15px 15px 5px;
    z-index:2;

    .item {
      @include block_rel_left;
      margin:12px 0 0 12px;

      .image {
        @include avatar_size(75px);
        @include block_rel;
        @include inner_shadow(0, 0, 1px, 0, rgba(255, 255, 255, 0.4));
        @include round(2px);
      }
    }
  }

  &:after {
    z-index:1;
  }
}
