@mixin clear {
  clear:both;
}
@mixin ellipsis {
  display:inline-block;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
@mixin replace {
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;
}
@mixin block_rel {
  display:block;
  position:relative;
}
@mixin block_rel_left {
  @include block_rel;
  float:left;
}
@mixin block_rel_right {
  @include block_rel;
  float:right;
}
@mixin block_abs {
  display:block;
  position:absolute;
}
// disable text selection (CSS 3) -- useful for e.g. faked buttons
// http://stackoverflow.com/questions/826782/1730141#1730141
@mixin disable_text_selection {
  user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
}

@mixin avatar_size($size:45px) {
  height:$size;
  width:$size;
  background-size:$size $size;
  -moz-background-size:$size $size;
  -webkit-background-size:$size $size;
}

//SPRITES
// https://gist.github.com/1432554
@mixin retina_sprite($name, $type, $width:auto, $height:auto) {
  background-image:url("/assets/" + $name + "." + $type);
  -moz-background-size:$width $height;
  -webkit-background-size:$width $height;
  background-size:$width $height;

  @media (-webkit-min-device-pixel-ratio:1.5), (min-device-pixel-ratio:1.5) {
    background-image:url("/assets/" + $name + "@2x." + $type);
  }
}
@mixin base_sprite {
  @include retina_sprite("base/global_sprite", "png", 200, 190);
  @include replace;
}

//ROUNDED CORNERS
@mixin round_top_left($radius:5px) {
  -webkit-border-top-left-radius:$radius;
  -moz-border-radius-topleft:$radius;
  border-top-left-radius:$radius;

  @media (-webkit-min-device-pixel-ratio:1.5), (min-device-pixel-ratio:1.5) {
    & {
      -webkit-border-top-left-radius:$radius * 2;
      -moz-border-radius-topleft:$radius * 2;
      border-top-left-radius:$radius * 2;
    }
  }
}
@mixin round_top_right($radius:5px) {
  -webkit-border-top-right-radius:$radius;
  -moz-border-radius-topright:$radius;
  border-top-right-radius:$radius;

  @media (-webkit-min-device-pixel-ratio:1.5), (min-device-pixel-ratio:1.5) {
    & {
      -webkit-border-top-right-radius:$radius * 2;
      -moz-border-radius-topright:$radius * 2;
      border-top-right-radius:$radius * 2;
    }
  }
}
@mixin round_bottom_left($radius:5px) {
  -webkit-border-bottom-left-radius:$radius;
  -moz-border-radius-bottomleft:$radius;
  border-bottom-left-radius:$radius;

  @media (-webkit-min-device-pixel-ratio:1.5), (min-device-pixel-ratio:1.5) {
    & {
      -webkit-border-bottom-left-radius:$radius * 2;
      -moz-border-radius-bottomleft:$radius * 2;
      border-bottom-left-radius:$radius * 2;
    }
  }
}
@mixin round_bottom_right($radius:5px) {
  -webkit-border-bottom-right-radius:$radius;
  -moz-border-radius-bottomright:$radius;
  border-bottom-right-radius:$radius;

  @media (-webkit-min-device-pixel-ratio:1.5), (min-device-pixel-ratio:1.5) {
    & {
      -webkit-border-bottom-right-radius:$radius * 2;
      -moz-border-radius-bottomright:$radius * 2;
      border-bottom-right-radius:$radius * 2;
    }
  }
}
@mixin round_top($radius:5px) {
  @include round_top_left($radius);
  @include round_top_right($radius);
}
@mixin round_right($radius:5px) {
  @include round_bottom_right($radius);
  @include round_top_right($radius);
}
@mixin round_bottom($radius:5px) {
  @include round_bottom_left($radius);
  @include round_bottom_right($radius);
}
@mixin round_left($radius:5px) {
  @include round_bottom_left($radius);
  @include round_top_left($radius);
}
@mixin round($radius:5px) {
  @include round_bottom($radius);
  @include round_top($radius);
}
@mixin square {
  @include round(0);
}

//FONTS
@mixin helvetica {
  font-family:"Helvetica", Arial, sans-serif;
}
@mixin helvetica_neue {
  @include helvetica;
  font-family:"Helvetica Neue", "Helvetica", Arial, sans-serif;
}
@mixin proximaNova {
  font-family:"Proxima Nova", "proxima-nova", "Helvetica", "Arial", sans-serif;
}
@mixin museeBold {
  font-family:MuseeBold, Georgia, serif;
}

//BOX SHADOWS
@mixin no_shadow {
  box-shadow:none;
  -mozilla-box-shadow:none;
  -webkit-box-shadow:none;
}
// `$radius` = Photoshop's "Distance"; `$spread` = Photoshop's "Size"
@mixin shadow($x:0px, $y:0px, $radius:0px, $spread:0px, $color:#000) {
  box-shadow:$x $y $radius $spread $color;
  -moz-box-shadow:$x $y $radius $spread $color;
  -webkit-box-shadow:$x $y $radius $spread $color;
}
@mixin shadow_with_inner($x1:0px, $y1:0px, $radius1:0px, $spread1:0px, $color1:#000, $x2:0px, $y2:0px, $radius2:0px, $spread2:0px, $color2:#000) {
  box-shadow:$x1 $y1 $radius1 $spread1 $color1, inset $x2 $y2 $radius2 $spread2 $color2;
  -moz-box-shadow:$x1 $y1 $radius1 $spread1 $color1, inset $x2 $y2 $radius2 $spread2 $color2;
  -webkit-box-shadow:$x1 $y1 $radius1 $spread1 $color1, inset $x2 $y2 $radius2 $spread2 $color2;
}
@mixin stroke_and_shadow_with_inner($stroke_color, $x1:0px, $y1:0px, $radius1:0px, $spread1:0px, $color1:#000, $x2:0px, $y2:0px, $radius2:0px, $spread2:0px, $color2:#000) {
  border:1px solid $stroke_color;
  box-shadow:$x1 $y1 $radius1 $spread1 $color1, inset $x2 $y2 $radius2 $spread2 $color2;
  -moz-box-shadow:$x1 $y1 $radius1 $spread1 $color1, inset $x2 $y2 $radius2 $spread2 $color2;
  -webkit-box-shadow:$x1 $y1 $radius1 $spread1 $color1, inset $x2 $y2 $radius2 $spread2 $color2;

  @media (-webkit-min-device-pixel-ratio:1.5), (min-device-pixel-ratio:1.5) {
    & {
      border:none;
      box-shadow:$x1 $y1 $radius1 $spread1 $color1, inset $x2 $y2 $radius2 $spread2 $color2;
      -moz-box-shadow:$x1 $y1 $radius1 $spread1 $color1, inset $x2 $y2 $radius2 $spread2 $color2;
      -webkit-box-shadow:$x1 $y1 $radius1 $spread1 $color1, inset $x2 $y2 $radius2 $spread2 $color2;
    }
  }
}
@mixin inner_shadow($x:0px, $y:0px, $radius:0px, $spread:0px, $color:#000) {
  box-shadow:inset $x $y $radius $spread $color;
  -moz-box-shadow:inset $x $y $radius $spread $color;
  -webkit-box-shadow:inset $x $y $radius $spread $color;
}

//GRADIENTS
@mixin no_gradient {
  background-image:none;
}
@mixin vertical_gradient_two_stops($stop_1:0.0, $color_1:#fff, $stop_2:1.0, $color_2:#000) {
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, color-stop($stop_1, $color_1), color-stop($stop_2, $color_2));
  background-image:-moz-linear-gradient(0% 0% 270deg, $color_1, $color_2);
}
@mixin vertical_gradient($start_color:#fff, $end_color:#000) {
  @include vertical_gradient_two_stops(0.0, $start_color, 1.0, $end_color);
}
