@import "base/mixins";

* {
  margin:0;
  padding:0;
}
html, body {
  height:100%;
}
body {
  @include helvetica;
  background-color:#222;
  color:#ddd;
  cursor:default;
  font-size:62.5%;
  position:relative;
}
a {
  text-decoration:none;
}

.clear {
  clear:both;
}

.app {
  @include block_rel_left;
  @include round(5px);
  height:48.5%;
  margin:1% 0 1% 1%;
  width:31%;

  background-color:rgba(255, 255, 255, 0.1);
}
