@import "base/mixins";

* {
  margin:0;
  padding:0;
}
html, body {
  height:100%;
}
body {
  @include helvetica;
  @include retina_sprite("base/grey_tile", "png", 50px, 50px);
  background-color:#222;
  color:#ddd;
  cursor:default;
  font-size:62.5%;
  position:relative;
}
a {
  text-decoration:none;
}

.clear {
  clear:both;
}

.app {
  @include block_rel_left;
  @include inner_shadow(0, 0, 10px, 0, rgba(0, 0, 0, 0.7));
  @include round(5px);
  background-color:#2b2b2b;
  height:48.5%;
  margin:1% 0 1% 1%;
  width:31%;
}
