@import "base/mixins";

* {
  margin:0;
  padding:0;
}
html, body {
  height:100%;
}
body {
  @include helvetica;
  background-color:#222;
  color:#ddd;
  font-size:62.5%;
  position:relative;
}
a {
  text-decoration:none;
}

.clear {
  clear:both;
}

.app {
  @include block_rel_left;
  @include round(5px);
  height:50%;
  margin-left:1%;
  width:31%;

  background-color:rgba(255, 255, 255, 0.1);
}
.app:nth-child(3n+1) {
  margin-left:0;
}