@import "base/mixins";

@mixin angle_mask($start_opacity, $end_opacity, $end_y) {
  -moz-mask:-moz-linear-gradient(0 0, rgba(0, 0, 0, $start_opacity) 0%, rgba(0, 0, 0, $start_opacity) 45%, rgba(0, 0, 0, $end_opacity) 46%, rgba(0, 0, 0, $end_opacity) 100%);
  -ms-mask:-ms-linear-gradient(0 0, rgba(0, 0, 0, $start_opacity) 0%, rgba(0, 0, 0, $start_opacity) 45%, rgba(0, 0, 0, $end_opacity) 46%, rgba(0, 0, 0, $end_opacity) 100%);
  -o-mask:-o-linear-gradient(0 0, rgba(0, 0, 0, $start_opacity) 0%, rgba(0, 0, 0, $start_opacity) 45%, rgba(0, 0, 0, $end_opacity) 46%, rgba(0, 0, 0, $end_opacity) 100%);
  // initial Webkit syntax
  -webkit-mask:-webkit-gradient(linear, 0 0, 100% $end_y, color-stop(0%, rgba(0, 0, 0, $start_opacity)), color-stop(45%, rgba(0, 0, 0, $start_opacity)), color-stop(46%, rgba(0, 0, 0, $end_opacity)), color-stop(100%, rgba(0, 0, 0, $end_opacity)));
  // half-standardized syntax
  -webkit-mask:-webkit-linear-gradient(0 0, rgba(0, 0, 0, $start_opacity) 0%, rgba(0, 0, 0, $start_opacity) 45%, rgba(0, 0, 0, $end_opacity) 46%, rgba(0, 0, 0, $end_opacity) 100%);
  mask:linear-gradient(0 0, rgba(0, 0, 0, $start_opacity) 0%, rgba(0, 0, 0, $start_opacity) 45%, rgba(0, 0, 0, $end_opacity) 46%, rgba(0, 0, 0, $end_opacity) 100%);
}

.app.weather {
  #dark_sky {
    .forecast.next_hour {
      @include block_rel;
      height:80px;
      margin-top:15px;
      width:100%;
    }

    .current_status {
      @include block_abs;
      color:#666;
      font-size:18px;
      font-style:italic;
      left:10px;
      top:10px;
    }

    .current_temp {
      @include block_abs;
      color:#666;
      cursor:default;
      font-size:144px;
      right:-20px;
      top:-42px;
    }
  }

  #wunderground {
    @include block_abs;
    margin-left:4px;
    top:105px;

    .item {
      @include block_rel_left;
      height:55px;
      margin-left:9px;
      width:50px;

      .icon, .temp {
        @include block_abs;
        height:50px;
      }

      .icon {
        @include angle_mask(0, 1, 70%);
        bottom:0;
        right:0;
        width:45px;

        img {
          margin-left:-5px;
        }
      }

      .temp {
        @include angle_mask(1, 0, 70%);
        color:#aaa;
        font-size:27px;
        left:0;
        line-height:1em;
        top:3px;
        width:50px;
      }
    }
  }
}